$blue: #2188D9 !default;
$black: #000000 !default;
$white: #ffffff !default;
$input-border: #B8B9BC !default;
$black-pearl: #060C1B !default;
$orange-red: #FF3D00 !default;
$green: #53D86A !default;
$green: #53D86A !default;
$gray: #B8B9BC !default;
$gray_bg: #ECECED !default;
$green_bg: #D7E5DA !default;
$dark_blue: #1773BB !default;


$primary: $blue;
$secondary: $white;


